<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-i2U9qZcFJc7i7eMYJvxNml5P9Dcyd1/42Kc49bhJE0T/8aJw9kRQhzk0c/15/RS2lz9xJwS3aNk1la5QZu27oQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
     <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
</head>
<style>
    .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
  
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color:  #088178;
    border-color: #088178;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
#continue{
    background-color: #088178;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.text{
  color:red
}
</style>
<%-include('shopheader')%>
<%-include('mobileheader')%>
<body>
 
    <div class="mainDiv">
        <div class="cardStyle">
          <form action="" id="form" method="post" name="signupForm" id="form">
            
            <img src="" id="signupLogo"/>
            
            <h2 class="formTitle">
              Change Password
            </h2>
            

            <div class="inputDiv">
                <label class="inputLabel" for="password">Old password</label>
                <input type="password" id="oldpassword" name="oldpassword" >
                <p class="text text-danger" id="oldPwdError"></p>
                <% if(locals.oldpwd){ %>
                  <p style="display:block;" id="oldpwd" class="text"><%= locals.oldpwd %> </p>
                  <script>
                      setTimeout(function() {
                          document.getElementById('oldpwd').style.display = 'none';
                      }, 3000);
                  </script>  
             <% } %>
              </div>

          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="newpassword" name="newpassword" >
            <p class="text text-danger" id="newPwdError"></p>
          </div>
            
          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmnewpassword">
            <p class="text text-danger" id="confirmPwdError"></p>
            <% if(locals.message){ %>
              <p style="display:block;" id="msg" class="text"><%= locals.message %> </p>
              <script>
                  setTimeout(function() {
                      document.getElementById('msg').style.display = 'none';
                  }, 3000);
              </script> 
         <% } %>
          </div>
         
          
          <div class="buttonWrapper" >
            <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
              <span >Change password</span>
             
            </button>
          </div>
            
        </form>
        </div>
      </div>
</body>
<script>
  const form = document.getElementById('form')
  const oldPwd = document.getElementById('oldpassword')
  const oldPwdError = document.getElementById('oldPwdError')
  const newPwd = document.getElementById('newpassword')
  const newPwdError = document.getElementById('newPwdError')
  const confirmPwd = document.getElementById('confirmPassword')
  const confirmPwdError = document.getElementById('confirmPwdError')


  function validateOldPwd(){
    const pwdPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
    if(!pwdPattern.test(oldPwd.value)){
      oldPwdError.innerHTML="Password Must be Strong and Valid!"
      oldPwdError.style.display="block"
      setTimeout(() => {
        oldPwdError.style.display="none"
         }, 3000);
    }
  }
  function validateNewPwd(){
    const pwdPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
    if(!pwdPattern.test(newPwd.value)){
      newPwdError.innerHTML="New password Must be Strong and Valid!"
      newPwdError.style.display="block"
      setTimeout(() => {
        newPwdError.style.display="none"
         }, 3000);
    }
  }

  function validateNewConfPwd(){
    const pwdPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
    if(!pwdPattern.test(confirmPwd.value)){
      confirmPwdError.innerHTML="Both passwords must be matching and  and valid!"
      confirmPwdError.style.display="block"
      setTimeout(() => {
        confirmPwdError.style.display="none"
         }, 3000);
    }
  }
form.addEventListener('submit',function(event){
  validateOldPwd();
  validateNewPwd();
  validateNewConfPwd()
  if(oldPwdError.innerHTML||newPwdError.innerHTML||confirmPwdError.innerHTML){
    event.preventDefault();
  }
})
oldPwd.addEventListener('blur',validateOldPwd)
newPwd.addEventListener('blur',validateNewPwd)
confirmPwd.addEventListener('blur',validateNewConfPwd)
</script>
</html>