<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Forgot otp</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/views//assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">

<style>

.row{
    display:flex;
    justify-content: center;
    align-items: center;
} 
.reg{
margin-left:150px;
margin-bottom: 25%;
}
</style>


</head>

<body>
    <!-- <header class="header-area header-style-5">
        
    </header> -->
   
                </div>
            </div>
        </div>
    </div>
    <main class="main ">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg" alt="logo"></a>
                    </div>
                    <div class="page-header breadcrumb-wrap">
                        <div class="container">
                            <div class="breadcrumb">
                                <a href="/home" rel="nofollow">Home</a>
                                <span></span> Pages
                                <span></span> login
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">FORGOT OTP?</h3>
                                        </div>
                                        
                                            <p class="text text-success"></p>
                                        
                                            <p class="text text-danger" id="blockmessage" style="display:block"></p>
                                            <script>
                                              
                                            </script>
                                       
                                        <form id="form" method="post">
                                            <div class="form-group">
                                                <label for="email">Enter your email</label>
                                                <input type="text"  name="email" placeholder="Your Email" id="email">
                                                <p class="text text-danger font-sm" style="display:none;"  id="emailError"></p>
                                            </div>
                                            
                                           
                                                <p class="text text-danger" id="passError" style="display:block"></p>
                                                <script>  
                                                   
                                                    </script>
                                            

                                              

                                            
                                            <div class="log">
                                                <!-- <div class="reg">
                                                    <span class="text text-center ms-5">Haven't registered yet? Register here</span>
                                                </div> -->
                                               
                                                <button type="submit" id="but" class="btn btn-fill-out btn-block hover-up" name="login">Click to get link</button>
                                              
                                                <!-- <span>Haven't yet registered?Register here</span> -->
                                                
                                                <!-- <button type="submit" id="but" class="btn btn-fill-out btn-block hover-up ms-5" name="register">Register</button> -->
                                           
                                            </div>
                                            
                                            
                                        </form>
                                        
                                        <!-- <p class="text text-lg-end font-sm">havent registered yet?</p> -->
                                    </div>
                                    
                                   
                                
                                </div>
                               
                            </div>
                           
                            <div class="col-lg-1"></div>
                            
    <!-- Preloader Start -->
                        </body>
                        </html>
   