<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Login </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/views//assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">

<style>

.row{
    display:flex;
    justify-content: center;
    align-items: center;
} 
.reg{
margin-left:150px;
margin-bottom: 25%;
}
</style>


</head>

<body>
    <!-- <header class="header-area header-style-5">
        
    </header> -->
   
                </div>
            </div>
        </div>
    </div>
    <main class="main ">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg" alt="logo"></a>
                    </div>
                   
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <%if(locals.message){%>
                                            <p class="text text-success"><%=locals.message%></p>
                                        <%}%>
                                        <%if(locals.blockmessage){%>
                                            <p class="text text-danger" id="blockmessage" style="display:block"><%=locals.blockmessage%></p>
                                            <script>
                                                setTimeout(() => {
                                                    document.getElementById('blockmessage').style.display="none"
                                                },3000);
                                            </script>
                                        <%}%>
                                        <form id="form" method="post">
                                            <div class="form-group">
                                                <input type="text"  name="email" placeholder="Your Email" id="email">
                                                <p class="text text-danger font-sm" style="display:none;"  id="emailError"></p>
                                            </div>
                                            <div class="form-group">
                                                <input  type="password" name="password" placeholder="Password" id="password">
                                                <p class="text text-danger font-sm" style="display: none;"   id="passwordError"></p>
                                                <p class="text text-success font-sm" style="display: none;"   id="strongPassword"></p>
                                            </div>
                                            <% if(locals.passError){ %>
                                                <p class="text text-danger" id="passError" style="display:block"><%= passError %></p>
                                                <script>  
                                                     setTimeout(() => {
                                                        document.getElementById('passError').style.display="none"
                                                    }, 3000);
                                                    </script>
                                            <% } %>

                                              

                                            <div id="write" class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <!-- <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label> -->
                                                    </div>
                                                </div>
                                                
                                                <a class="text-muted" href="/forgotpassword">Forgot password?</a>
                                            </div>
                                            <div class="log">
                                                <!-- <div class="reg">
                                                    <span class="text text-center ms-5">Haven't registered yet? Register here</span>
                                                </div> -->
                                               
                                                <button type="submit" id="but" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                                <a href="/register"  class="reg"> Register</a>
                                                <!-- <span>Haven't yet registered?Register here</span> -->
                                                
                                                <!-- <button type="submit" id="but" class="btn btn-fill-out btn-block hover-up ms-5" name="register">Register</button> -->
                                           
                                            </div>
                                            
                                            
                                        </form>
                                        
                                        <!-- <p class="text text-lg-end font-sm">havent registered yet?</p> -->
                                    </div>
                                    
                                   
                                
                                </div>
                               
                            </div>
                           
                            <div class="col-lg-1"></div>
                            
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->

    <script>
        const email = document.getElementById('email')
        const emailError = document.getElementById('emailError')
        const password = document.getElementById('password')
        const passwordError = document.getElementById('passwordError')
        const strongPassword = document.getElementById('strongPassword')
        const form = document.getElementById('form')
        // const blockmessage = document.getElementById('blockmessage')
        const passError = document.getElementById('passError')

       
     
    

        function validateEmail(){
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if(email.value.trim() ===''){
                emailError.innerHTML='email is not valid'
                emailError.style.display="block"
                setTimeout(() => {
                    emailError.style.display="none"
                }, 3000);
            }
            if(!emailPattern.test(email.value)){
                emailError.innerHTML = `Email field is not valid`;
                emailError.style.display='block'
                setTimeout(() => {
                    emailError.style.display='none'
                },3000);
            }else{
                emailError.innerHTML=''
            }
        }

        function validatePassword(){
            const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+]{8,}$/
            if(password.value.trim() ===''){
                passwordError.innerHTML='password  is not valid'
                passwordError.style.display="block"
                setTimeout(() => {
                    passwordError.style.display="none"
                }, 3000);
            }
            if(!passwordPattern.test(password.value)){
                passwordError.innerHTML = `Password is not valid`
                passwordError.style.display='block'
                setTimeout(() => {
                passwordError.style.display='none'
            },3000);
            }else{
                passwordError.innerHTML = ``
            }
        }
        email.addEventListener('blur',validateEmail)
        password.addEventListener('blur',validatePassword)

        form.addEventListener('submit',function(event){
            validateEmail();
            validatePassword();
         
            if(emailError.innerHTML||passwordError.innerHTML){
                event.preventDefault();
              
            }
        })

    </script>



    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>